#spielfeld {
    height: 50%;
    width: 45%;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: black;
}
#spielfeld-ex {
    height: 19%;
    width: 20%;
    position: absolute;
    right: 10%;
    top: 10%;
    background-color: black;
}
.grid-item {
    position: relative;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    background-color: grey;
    height: 8%;
    width: 10%;
}
#player{
    position:relative;
    background-color: red;
    top: 88.5%;
    margin-top: 1%;
    margin-left: 1%;
    height: 8%;
    width: 10%;
}
#g{
    background-color: yellow;
    position: absolute;
    float: left;
    height: 7%;
    width: 3.5%;
    right: 41%;
    top: 14%;
    margin-left: 1%;
    margin-top: 1%;
    cursor: pointer;
    z-index: 100;
}
#b{
    background-color: blue; 
    position: absolute;
    float: left;
    height: 7%;
    width: 3.5%;
    right: 36.5%;
    top: 14%;
    margin-left: 1%;
    margin-top: 1%;
    cursor: pointer;
    z-index: 100;
}
#p{
    background-color: palevioletred;
    position: absolute;
    float: left;
    height: 7%;
    width: 3.5%;
    right: 41%;
    top: 22%;
    margin-left: 1%;
    margin-top: 1%;
    cursor: pointer;
    z-index: 100;
}
#gr{
    background-color: rgb(0, 255, 0); 
    position: absolute;
    float: left;
    height: 7%;
    width: 3.5%;
    right: 36.5%;
    top: 22%;
    margin-left: 1%;
    margin-top: 1%;
    cursor: pointer;
    z-index: 100;
}

#scoreboard{
    top: 61%;
    height: 5%;
    width: 100%;
    position: absolute;
    background-color: lightgrey;
}
#highscores{
    float:right;
    right: 200px;
    top: 75px;
    height: 500px;
    width: 200px;
    position: relative;
    background-color: lightgrey;
}

/* #color{
    position: absolute;
    float: right;
    right: 30%;
    top: 14%;
    height: 20%;
    width: 15%;
    z-index: -100;
} */

h4{
    position: absolute;
    float: right;
    right: 29.5%;
    top: 10%;
    height: 20%;
    width: 15%;
}
#startb{
    position: absolute;
    float: right;
    right: 34.5%;
    top: 53.5%;
    width: 10%;
    cursor: pointer;
}