#player{
    position:relative;
    background-color: red;
    top: 1px;
    height: 50px;
    width: 50px;
}
#spielfeld {
    z-index:-10;
    position: relative;
    top: 33px;
    background: black;
    height: 510px;
    width: 510px;
}
.grid-item {
    float: left;
    margin-top: 1px;
    margin-right: 1px;
    background-color: grey;
    height: 50px;
    width: 50px;
}
.ziel{
    position:relative;
    background-color: green;
    top: 1px;
    height: 50px;
    width: 50px;
}
#gewonnen{
    position: fixed;
    top: 49.75%;
    left: 44.75%;
    width: 202px;
}
#verloren{
    position: fixed;
    top: 49.75%;
    left: 44.75%;
    width: 202px;
}
