
.ReaktionsKreis {
    background-color: #555;
    position: relative;
    width: 250px;
    height: 250px;
    text-align: center;
    border-radius: 125px;
	
}

.ReaktionsKreis2 {
	background-color: #555;
    position: relative;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 125px;
    float: left;
    top: 50px;
}
#wrapper
{
   margin: auto;
   width: 302pt;
}

