#oben{
    background-color: lightgray;
    height: 100px;
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.container{
    width: 1400px;
}


#Spielfeld{
    background-color: green; 
    height: 880px;
    width: 720px;
}

#LinkeBar{
    background-color: blue; 
    position: absolute;
    height: 880px;
    width: 250px;
    left: 100px;
}

.card{
    height: 200px;
    width: 125px; 
 	background-image: url(./bilder/rückseite.png);
}

/* 
.karten1 {
   content:url('./bilder/1.png');
}​
.karten2 {
   content:url('./bilder/2.png');
}​
.karten3 {
   content:url('./bilder/3.png');
}​
.karten4 {
   content:url('./bilder/4.png');
}​
.karten5 {
   content:url('./bilder/5.png');
}​
.karten6 {
   content:url('./bilder/6.png');
}​
.karten7 {
   content:url('./bilder/7.png');
}​.karten8 {
   content:url('./bilder/8.png');
}​.karten9 {
   content:url('./bilder/9.png');
}​.karten10 {
   content:url('./bilder/10.png');
}​ */
