#oben{
    background-color: lightgray;
    height: 100px;
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.container{
    width: 1400px;
}


#Spielfeld{
    background-color: green; 
    height: 880px;
    width: 720px;
}

#LinkeBar{
    background-color: blue; 
    position: absolute;
    height: 880px;
    width: 250px;
    left: 100px;
}

.card{
    height: 200px;
    width: 125px; 
 	background-image: url(./bilder/rueckseite.png);
}
