.container{
    width: 1400px;
    
}

.Spielelement{
    text-align: center;
    height: 200px;
    width: 200px;
    margin-top: 13px;
    margin-left: 33px;
    border-style: solid;
    border-width: 2px;
    border-color: #17a2b8; 
    background-color: #343a40;
}

#Anleitung_text{
    text-align: justify;
}

.Verloren{
    margin-top: 200px;
    text-align: center;
}
.Gewonnen{
    margin-top: 200px;
    text-align: center;
}